.box{
    height: 400px;
    width: 300px;
    background-color: rgba(47, 129, 65, 1);
}
.boxi{
    height: 140px;
    width: 571px;
    background-color: rgba(19, 81, 59, 1);
}
.boxa{
    width: 571px;
    height: 140px;
    background-color: rgba(230, 36, 187, 1);
}
.q{
    width: 571px;
    height: 140px;
    background-color: rgba(85, 239, 13, 1);
}